section {
  margin: 10px;
}

.princ {
  align-items: center;
  display: flex;
  height: max-content;
  margin: 1%;
}

.sec {
  margin: 0 auto;
}

main {
  flex-direction: column;
  min-height: 100vh;
}

svg {
  fill: rgb(255 255 255);
  width: 40;
  height: 40;
}

.card {
  min-width: 200px;
  min-height: 500px;
}
